.DS_Store
/target
node_modules
/packages/*/lib
/examples/node/ingame-browser/out
doc/book
packages/core/addon-aarch64.node
packages/core/addon-x64.node
packages/core/yourgg_overlay-aarch64.dll
packages/core/yourgg_overlay-x64.dll
packages/core/yourgg_overlay-x86.dll
